body {
    background-image: url(/img/backgroundabout.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* PAGE 1 */

.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400vh;
}

.page1-wrapper {
    display: flex;
    flex-direction: column;
    height: 400vh;
}

.page1-wrapper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80vw;
    height: 60vh;
    gap: 3rem;
}

.page1-wrapper-content p {
    color: white;
}

.page1-wrapper h1 {
    color: #FFF;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}


.right h1 {
    color: #FFF;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.page1-wrapper-content>.row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: flex-end;
    height: auto;

}

.page1-wrapper-content>.row img {
    width: 300px;
    height: auto;
    transition: 0.5s;
}

.page1-wrapper-content>.row img:hover {
    width: 350px;
    height: auto;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.page1-wrapper-content>.right {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    gap: 1rem;
}

.page1-wrapper-content>.right p {
    font-size: 1.4rem;
    color: #FFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.page1-wrapper-content>.left {
    height: 70vh;
    display: flex;
    align-items: center;
}

/* PAGE 2 */

.page2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.page2-wrapper h1 {
    color: #FFF;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.page2-wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    gap: 4rem;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.column h1{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (min-width: 2000px) {
    .left img{
        height: 50vh;
    }

    .page1-wrapper h1 {
        color: #FFF;
        font-family: Raleway;
        font-size: 4rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }  

    .right h1 {
        color: #FFF;
        font-family: Raleway;
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
    }

    .page1-wrapper-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 80vw;
        height: 60vh;
        gap: 10rem;
    }

    .page2-wrapper h1 {
        color: #FFF;
        font-family: Raleway;
        font-size: 4rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    .column img {
        height: 50vh;
    }

    .column h1 {
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: 4rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

/* RESPONSIVE MOBILE */
@media screen and (max-width: 426px) {
    .page1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 320vh;
    }
    .page1-wrapper {
        display: flex;
        flex-direction: column;
        height: 320vh;
    }

    .page1-wrapper h1 {
        color: #FFF;
        font-family: Raleway;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    .page1-wrapper-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80vw;
        height: 50vh;
        gap: 1rem;
    }

    .page2-wrapper h1 {
        color: #FFF;
        font-family: Raleway;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    .column img, .left img {
        width: 300px;
    }

    .page1-wrapper-content>.left {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right h1 {
        color: #FFF;
        font-family: Raleway;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500 !important;
        line-height: normal;
        text-align: center;
    }

    .page1-wrapper-content>.right {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }
    
    .page2-wrapper-content > .column{
        gap: 2rem;
    }

    .footer-wrapper > .column {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        color: white;
        font-size: 1rem;
        gap: 0;
    }

    .spacer5 {
        height: 0;
    }
}

@media screen and (min-width: 700px){
    .left img {
        width: 400px;
    }

    .page1-wrapper-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100vw;
        height: 60vh;
        gap: 3rem;
    }

    .page2-wrapper-content > .column img{
        width: 90%;
    }
}